
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3>Founded in 10 june 2019 and based in Cairo ,Egypt .Movies Land is a trusted website for uploading and watching movies without any payments all for free,once you signed up you can watch all movies  ,whereever you are you can open it and enjoy watching with no limits.</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
