
@{
    ViewBag.Title = "forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<h3>Reset Password</h3>
<hr>
<div style="margin-left:auto;margin-right:auto">


</div>








<div style="display:block;margin-left:25%;background-color: rgba(0,0,0,0.5);width:45%;height:390px;border-radius:50px; ">





    <div style="margin:80px;margin-left:120px;">
        <br> <br> <br><br>
        @Html.Label("Email")
        @Html.TextBox("Email", "", new { @class = "form-control", id = "txt", placeholder = "Enter Your Email...", type = "email" })
        <div id="jax" style="color:red;"></div>
        <button class="btn-danger form-control " style="margin:60px; width:120px;" id="sent" type="button">
            Reset
        </button>
        -You should provide us with your email that you registered with then An Email will be sent to you to reset your password .
    </div>


</div>








<script>

        $("#sent").click(function () {
            email = $("#txt").val();
            $.ajax({
                type: "POST",
                url: "http://localhost:58717/Home/forgotpassword",
                data: { Email: email },
                success: function (data) {

                    document.getElementById("jax").innerHTML = data;

                }







            })








        });





</script>
